<mat-card class="component-container full-list-container">
    <div class="header">
        <span class="top-title text-uppercase">full list of achievements</span>
    </div>

    <table class="table-body">
        <tr class="table-title text">
            <td>
                <span>Achievement</span>
            </td>

            <td>
                <span> EXP points</span>
            </td>

            <td>
                <span class="date-title">Date</span>
            </td>
        </tr>
        <tr *ngFor="let achievement of userAchievementsService.achievements">
            <td class="achiev-info">
                <img matListAvata class="circle" [src]="achievement.iconId | createPath">
                <span matLine class="text">
                    {{achievement.name}}
                </span>
            </td>

            <td>
                <span class="text xp-info text-uppercase">
                    + {{achievement.xp}} xp
                </span>
            </td>

            <td>
                <span class="text">
                    {{achievement.addedTime | timeAgo}}
                </span>
            </td>
        </tr>
    </table>
</mat-card>