$base-font-size: 18px;
.thank-you-container {
    background-color: #424750;
    font-size: $base-font-size;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    width: 100%;

    .thank-you-title {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: white;
        font-weight: 550;
    }
}

.circle {
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 83, 83);

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .initials {
        color: #5ea002;
        font-size: $base-font-size;
        line-height: 19px;
        letter-spacing: 0.2625px;
    }
}

.star-content {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: $base-font-size;

    .star {
        width: 55%;
        height: 900%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.user {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    align-items: center;

    .user-name {
        display: flex;
        justify-content: center;
        margin: 15px;
        color: #5ea002;
    }
}
