<mat-card class="total-achiv-container">
    <div>
        <span class="text-title text-uppercase">
            total achievements and exp
        </span>
    </div>

    <div class="body">
        <div class="exp-count-container">
            <span class="exp-count-number">
                {{authUserService.authUser.xp}}
            </span>
        </div>

        <div class="count-title">
            <span class="count-text text-uppercase">
                exp
            </span>
        </div>

        <div class="badges-count-container">
            <span class="badges-count-number">
                {{authUserService.authUser.badges}}
            </span>
        </div>

        <div class="count-title">
            <span class="count-text-badges text-uppercase">
                badges
            </span>
        </div>
    </div>

    <div class="badges-summary-container">
        <span class="badges-summary-text">
            25% more than average <span class="dot">&#11044;</span>
        </span>

        <span class="badges-summary-text">
            +5 new this month <span class="dot">&#11044;</span>
        </span>

    </div>
</mat-card>