<mat-card class="challenges-container">
    <div class="header">
        <span class="top-title text-uppercase">
            exoft achievement
        </span>
        <mat-chip class="summary-chip">
            80 XP
        </mat-chip>
    </div>


    <div>
        <div class="user-block" *ngFor="let user of authUserService.usersShort">
            <div class="user-info">
                <button mat-button (click)="otherProfile(user.id)">
                    <div class="circle">
                        <img *ngIf="user.avatarId" src={{user.avatarId}}>
    
                        <div *ngIf="!user.avatarId" class="initials">
                            {{user | initials}}
                        </div>
                    </div>
                </button>

                <div class="user-name">
                    {{user.firstName}} {{user.lastName}}
                </div>

               
            </div>

            <div class="achiv-info" *ngFor="let achiev of user.achievements">
                <div class="time-ago">
                    {{achiev.addedTime | timeAgo}}
                </div>

                <span class='achivment'>
                    Got achievement {{achiev.name}}
                </span>
                <mat-chip class="records">Records</mat-chip>
            </div>
        </div>
    </div>
</mat-card>