<mat-card class="badges-container">
    <div>
        <span class="badges-text-title text-uppercase">badges</span>
    </div>

    <div class="badges-count-container">
        <span class="badges-count-number">
            {{authUserService.authUser.badges}}
        </span>
    </div>

    <div class="badges-text-container">
        <span class="badges-text">Badges</span>
    </div>

    <div class="badges-summary-container">
        <span class="badges-summary-text">
            25% more than average
        </span>

        <mat-icon>stop_circle</mat-icon>

        <span class="badges-summary-text">
            +5 new this month
        </span>

        <mat-icon>stop_circle</mat-icon>
    </div>
</mat-card>