<mat-grid-list cols="5" [gutterSize]="'15px'" rowHeight="19%" class="dashboard-container">
    <mat-grid-tile [colspan]="4" [rowspan]="1" class="component-container">
        <app-greeting class="component-container"> </app-greeting>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="5" class="component-container">
        <app-exoft-achievements class="component-container"></app-exoft-achievements>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2" class="component-container">
        <app-personal-achievements class="component-container"></app-personal-achievements>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2" class="component-container">
        <app-thank-you class="component-container"></app-thank-you>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2" class="component-container">
        <app-top-chart class="component-container"></app-top-chart>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2" class="component-container">
        <app-badges class="component-container"></app-badges>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="2" class="component-container">
        <app-challenges class="component-container"></app-challenges>
    </mat-grid-tile>
</mat-grid-list>