.top-chart-container {
    background-color: #424750;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .top-chart-text {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: white;
        font-weight: 100%;
    }

    .info-title {
        color: #5ea002;

        .total-title {
            margin-left: 20%;
        }

        .name-title {
            margin-left: 5%;
        }

        .line {
            background-color: #5ea002;
            width: 45%;
            height: 1px;
            margin-top: 0.5%;
        }
    }
}

.bar {
    max-width: 100%;
    min-height: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    justify-content: space-between;
    padding: 7%;
    color: white;
    margin-left: 35%;
}

.display-chart {
    font-size: 100%;
    justify-content: space-between;
    display: flex;
    color: white;
    width: 100%;
    height: 100%;

    .circle {
        border-radius: 50%;
        border: 1px solid rgb(255, 255, 255);
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(83, 83, 83);

        img {
            border-radius: 50%;
            width: 35px;
            height: 35px;
        }

        .initials {
            color: #5ea002;
            font-size: 15px;
            line-height: 19px;
        }
    }

    .leveling {
        .user-xp {
            margin-left: 80px;
        }
    }

    td {
        padding-top: 3%;
    }
}
