.mat-drawer-container,
.mat-drawer {
  background-color: #323232;
}
nav a {
  color: white;
}

.mat-tab-header {
  display: flex;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}
