<div class="other-user-container">
    <div class="close-button">
        <button mat-button (click)="close()">
            <span class="material-icons">
                close
            </span>
        </button>
    </div>

    <div class="body">
        <div class="user-info">
            <div class="circle" *ngIf="authUserService.userById">
                <img *ngIf="authUserService.userById.avatarId" src={{authUserService.userById.avatarId}}>

                <div *ngIf="!authUserService.userById.avatarId" class="initials">
                    {{authUserService.userById | initials}}
                </div>
            </div>

            <div class="user-name">
                {{authUserService.userById.firstName}}
                {{authUserService.userById.lastName}}
            </div>

            <div class="user-exp">
                <span class="exp">
                    EXP:
                </span>
                {{authUserService.userById.xp}}
            </div>
        </div>

        <div class="achievement-list">
            <div class="achiv-info" *ngFor="let achievement of authUserService.userById.achievements">
                <img class="achiv-img" [src]="achievement.iconId | createPath">

                <div class="achiv-name">
                    {{achievement.name}}
                </div>
            </div>
        </div>
    </div>

    <div class="say-thanks-button">
        <button class="btn text-uppercase" (click)="thanks(authUserService.userById.id)" mat-button>
            say thanks
        </button>
    </div>
</div>