<mat-grid-list cols="6" [gutterSize]="'15px'" rowHeight="23%" class="badges-container">
    <mat-grid-tile [colspan]="2" [rowspan]="2" class="component-container">
        <app-last-achievements class="component-container"></app-last-achievements>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2" class="component-container">
        <app-total-achievements-and-exp class="component-container"></app-total-achievements-and-exp>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2" class="component-container">
        <app-edit-profile class="component-container"></app-edit-profile>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="2" class="component-container">
        <app-full-list-of-achievements class="component-container"></app-full-list-of-achievements>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2" class="component-container">
        <app-thank-you class="component-container"></app-thank-you>
    </mat-grid-tile>
</mat-grid-list>